.tv {
  padding: 0px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Row */
.video {
  background-color: aqua;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 2;
}

.chat {
  flex-grow: 1;
  position: absolute;
  right:0;

}

video {
  width: 100%;
  height: 100%;
}