* {
  color: white;
}

.cart {
  background-color: #cdcdcd;
  background-image: url('https://i.postimg.cc/yxnmRLbT/Old-TV-Play-Station.png');
  background-attachment: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
}

.shop {
  text-align: right;
  padding: 50px;
}

#takePart {
  font-size: 100px;
  padding: 50px;
  max-width: 55%;
}

#tshop {
  font-size: 50px;
}
