.tv {
  background-color: black;
}
.container {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

.container-video {
  padding: 0;
  max-width: 1920px;
}

.item-video {
  width: 100%;
}

.item-chat {
  margin-top: 40px;
  margin-bottom: 40px;
}

video {
  width: 100%;
  height: 100%;
}
