.clip {
}

.clip :hover {
  width: 250px;
  height: 150px;
  border-radius: 5%;
}

img {
  width: 200px; /* var(--img-width); 200px;*/
  height: 100px; /*var(--img-height); /*100px;*/
  border-radius: 5%;
}
