.clip {
}

.clip :hover {
  width: 250px;
  height: 150px;
  border-radius: 5%;
  transition: width 0.5s ease, height 0.5s ease;
}

img {
  width: 200px;
  height: 100px;
  border-radius: 5%;
  transition: width 0.3s ease, height 0.3s ease;
}
