.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  background-color: var(--navbar-scroll);
  transition: background-color 1s ease;
  mix-blend-mode: var(--navbar-scroll-blend);
  color: var(--navbar-scroll-text);
  -webkit-box-shadow: var(--navbar-scroll-shadow);
  box-shadow: var(--navbar-scroll-shadow);
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0;
  padding-top: 5px;
}

.item-brand {
  padding-left: 10px;
}

.navbar-brand {
  padding: 0;
  color: inherit;
  text-align: center;
}

.item-buttons a {
  padding-left: 25px;
}

.button {
  color: inherit;
  padding-left: 20px;
}

nav a:hover {
  color: #dadada;
}

/*
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  padding: 0;
  margin: 0;
  background-color: darkslateblue;
}*/

p {
  font-size: medium;
}

.item-space {
  flex-grow: 3;
}

.item-brand {
  align-items: center;
}

.item-buttons {
  justify-content: center;
  padding-right: 20px;
}

mat-icon {
  height: 100%;
}
