.navbar {
  position: fixed;
  background-color: var(--navbar-scroll);
  transition: background-color 1s ease;
  color: var(--navbar-scroll-text);
  -webkit-box-shadow: var(--navbar-scroll-shadow);
  box-shadow: var(--navbar-scroll-shadow);
}
