nav {
  position: fixed;
  background: rgba(0, 0, 0, 0);
  padding: 0px 20px;
  z-index: 1;
  background-color: var(--navbar-scroll);
  transition: background-color 1s ease;
  color: var(--navbar-scroll-text);
  -webkit-box-shadow: var(--navbar-scroll-shadow);
  box-shadow: var(--navbar-scroll-shadow);
}

nav li a:hover {
  background: red;
}
