.navbar {
  background-color: var(--navbar-scroll);
  transition: background-color 1s ease;
  color: var(--navbar-scroll-text);
  -webkit-box-shadow: var(--navbar-scroll-shadow);
  box-shadow: var(--navbar-scroll-shadow);
}

body {
  --navbar-scroll: transparent;
  --navbar-scroll-text: white;
  --navbar-scroll-shadow: none;
}
