.navbar {
  background-color: var(--navbar-scroll);
  transition: background-color 1s ease;
  color: var(--navbar-scroll-text);
  -webkit-box-shadow: var(--navbar-scroll-shadow);
  box-shadow: var(--navbar-scroll-shadow);
  position: fixed;
  z-index: 1;
  padding: 0;
  width: 100%;
  height: 45px;
}

nav a {
  float: left;
  padding: 10px 16px;
  text-decoration: none;
  color: inherit;
}

nav a:hover {
  color: #dadada;
}
