.navbar {
  background-color: var(--navbar-scroll);
  transition: background-color 1s ease;
  color: var(--navbar-scroll-text);
  -webkit-box-shadow: var(--navbar-scroll-shadow);
  box-shadow: var(--navbar-scroll-shadow);
  position: fixed;
  padding: 0px 20px;
  z-index: 1;
}

nav li a:hover {
  background: red;
}
