.container {
  max-width: 1920px;
}

.item {
  border-radius: 0.2em;
  color: #ffffff;
  font-family: sans-serif;
}

.item-1 {
}

.item-2 {
}

.item-3 {
  padding: 25px;
}

.item-4 {
  padding: 40px;
}

.userTopClip {
  background-color: #7272721f;
  padding: 25px;
}

img {
  padding: 5px;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
}
#followbutton {
  background-color: red;
  border-radius: 5px;
  margin-left: 190px;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

#username {
  font-size: 25px;
  margin: 0;
  margin-left: 10px;
}

#followers {
  font-size: 12px;
  margin-left: 10px;
}

#time {
  font-size: 15px;
}

#description {
  font-size: 15px;
}

#cliptitle {
  font-size: 25px;
}

#clipdesc {
  font-size: 15px;
  margin: 0;
  padding-left: 20px;
}
