<div class="usertab">
  <div class="table">
    <div class="column">
      <img
        src="https://www.nicepng.com/png/full/128-1280406_view-user-icon-png-user-circle-icon-png.png"
        width="60"
        height="60"
      />
    </div>
    <div class="column">
      <div class="table"><p id="username">Username</p></div>
      <div class="table"><p id="followers">Follower</p></div>
    </div>
    <div id="followbutton" class="column">
      <div class="button"><p>Segui</p></div>
    </div>

    <div class="rightcolumn">
      <div class="table">
        <div class="clip">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAElBMVEX8/vz///8pKikAAAAtLS2Oj47hKWeDAAABEElEQVR4nO3PBxEDMRAAMZcLf8p5GuuRGGjdO+dhc9f97afNmr1ets86hm2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2Gfd9w9ttm3Tkvm/sHIDIKk6RLvD4AAAAASUVORK5CYII="
            width="200"
            height="100"
          />
        </div>
      </div>
      <div class="table">
        <p id="time">15:31:19 - 15:31:30 Uploaded in 25/07/2022</p>
      </div>
    </div>
  </div>

  <div class="table">
    <section>
      <p id="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit
        tellus augue, non dapibus quam vulputate et. Fusce id magna volutpat,
        maximus erat vitae, egestas enim. Mauris a tincidunt ligula. Maecenas
        porta eros eget tellus imperdiet scelerisque. Mauris condimentum ut erat
        eget cursus. Aliquam facilisis, augue sed malesuada tempor, neque tellus
        consectetur...
      </p>
      <p>Mostra altro ...</p>
    </section>
    <div class="rightcolumn">
      <app-top-user-clip></app-top-user-clip>
    </div>
  </div>
</div>
