* {
  color: white;
}

.usertab {
  padding-bottom: 30px;
}

.table {
  display: table; /* Allow the centering to work */
  margin: 0;
  padding: 0;
}

.column {
  float: left;
}

.rightcolumn {
  float: right;
  margin-right: 30px;
}

.button {
  background-color: red;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.clip {
  float: right;
}

p {
  padding: 0;
  margin: 0;
}

img {
  padding: 0;
  margin-left: 10px;
  width: 80px;
  height: 80px;
}

#username {
  font-size: 30px;
  padding-left: 15px;
}

#followers {
  font-size: 10px;
  padding-left: 15px;
}

#followbutton {
  font-size: 15px;
  padding-top: 10px;
  padding-left: 200px;
}

#time {
  text-align: left;
}

#user {
  padding-top: 10px;
  padding-left: 20px;
}
