* {
  color: white;
}
.table {
  display: table; /* Allow the centering to work */
}

.column {
  float: left;
}

hr {
  max-width: 90%;
}

.topClips {
  background-color: #72727231;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  margin-left: 40px;
  margin-right: 40px;
}

#row {
  padding-left: 50px;
}
