* {
  color: white;
}

.title {
  font-size: 35px;
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 20px;
}

.topClip {
  background-color: #7272723f;
  padding-bottom: 30px;

  border-radius: 5px;
  margin: 50px;
}

.clip {
  padding: 5px;
}

.column {
  padding-top: 10px;
}

p {
  margin: 0;
}
