<div class="topClips">
  <div class="table">
    <b>Top Clips</b> <span layout="row"><hr flex /> </span>
    <div id="row" class="column">
      <div class="column">
        <app-clip></app-clip>
      </div>
      <div class="column">
        <app-clip></app-clip>
      </div>
      <div class="column">
        <app-clip></app-clip>
      </div>
      <div class="column">
        <app-clip></app-clip>
      </div>
      <div class="column">
        <app-clip></app-clip>
      </div>
    </div>
    <div id="row" class="column">
      <div class="column">
        <app-clip></app-clip>
      </div>
      <div class="column">
        <app-clip></app-clip>
      </div>
      <div class="column">
        <app-clip></app-clip>
      </div>
      <div class="column">
        <app-clip></app-clip>
      </div>
      <div class="column">
        <app-clip></app-clip>
      </div>
    </div>
  </div>
</div>
