* {
  color: white;
}

.table {
  display: table; /* Allow the centering to work */
  margin: 0;
}

.column {
  float: left;
}

.desccolumn {
  float: left;
  padding: 10px;
  padding-left: 30px;
  max-width: 45%;
}

.rightcolumn {
  float: right;
  margin-top: 30px;
}

#topUserClip {
  background-color: #72727231;
  padding: 10px;
  padding-bottom: 20px;
  margin-right: 50px;
  max-width: 50%;
}

#centered {
  font-size: 20px;
  text-align: center;
  margin: 0;
}

p {
  font-size: 13px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  margin: 0;
}

.center {
  display: table; /* Allow the centering to work */
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 10px;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}

#clipdesc {
  padding: 0;
  max-width: 40%;
}

#description {
  padding-top: 10px;
}
