<div class="table">
  <div class="desccolumn">
    <section>
      <p id="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
        tristique bibendum dapibus. In eu eros iaculis, lobortis justo non,
        varius metus. Morbi nisl urna, posuere non augue vel, lobortis tempus
        nulla. Donec ut mollis ante. Mauris viverra, ex egestas elementum
        ultricies, sapien erat sollicitudin dui, ac rhoncus justo massa sit amet
        erat. Donec at interdum urna, ac porttitor ante. Aenean dolor odio,
        vulputate id sodales eget, scelerisque in nulla. Suspendisse mattis eu
        orci tempus pharetra. Maecenas non enim tortor. Integer ut dignissim
        augue, eu ultricies nisl. Etiam tincidunt libero quis tristique dapibus.
        Pellentesque gravida et lorem sed malesuada.
      </p>
      <p id="description">
        Aliquam felis ipsum, convallis sed ornare sit amet, vehicula a nulla.
        Proin porttitor fermentum posuere. Nullam sodales est sed tempus
        consectetur. Phasellus rutrum dictum egestas. Sed euismod erat lorem, id
        vestibulum ipsum feugiat eu. Vestibulum ante ipsum primis in faucibus
        orci luctus et ultrices posuere cubilia curae; Maecenas arcu purus,
        lacinia nec tempor quis, suscipit sit amet tortor. Suspendisse euismod
        egestas consectetur. Phasellus consectetur nisi cursus nisi maximus,
        quis ullamcorper lacus semper. Proin vitae dolor in ex lacinia
        malesuada.
      </p>

      <p id="description">
        Sed scelerisque urna vel nunc mollis, in fringilla sapien pharetra.
        Quisque v
      </p>
      <p>Mostra altro ...</p>
    </section>
  </div>
  <div class="rightcolumn" id="topUserClip">
    <div class="table">
      <p id="centered">User's top clip</p>
      <span layout="row"><hr flex /> </span>
    </div>
    <div class="center">
      <div class="column">
        <img
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAElBMVEX8/vz///8pKikAAAAtLS2Oj47hKWeDAAABEElEQVR4nO3PBxEDMRAAMZcLf8p5GuuRGGjdO+dhc9f97afNmr1ets86hm2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2GfYZ9hn2Gfd9w9ttm3Tkvm/sHIDIKk6RLvD4AAAAASUVORK5CYII="
          width="200"
          height="100"
        />
      </div>
      <div class="column" id="clipdesc">
        <section>
          <p>Titolo del video che può essere abbastanza lungo</p>
          <p>352.000</p>
          <p>145.000</p>
          <p>15:31:19 - 15:31:30</p>
          <p>Uploaded in 25/07/2022</p>
        </section>
      </div>
    </div>
    <div class="table">
      <span layout="row"><hr flex /> </span>
      <p id="centered">Arrow</p>
    </div>
  </div>
</div>
