* {
  color: white;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  border-radius: 20px;
  margin-bottom: 30px;
}
.container-1 {
  background-color: #7272721c;
  justify-content: center;
}
.container-2 {
  background-color: #7272721c;
}
.container-3 {
  background-color: #7272721c;
  padding-bottom: 20px;
}
.container-4 {
  background-color: #7272721c;
  padding: 0;
  max-width: 70%;
}
.container-5 {
  background-color: #7272721c;
  padding: 0;
  max-width: 70%;
}
.container-nft {
  background-color: rgba(135, 135, 135, 0.5);
  margin: 3px;
  justify-content: space-between;
  border-radius: 7px;
}
.container-title-text {
  align-items: stretch;
  margin: 0;
}
.container-time {
  margin: 0;
}
.container-other-text {
  height: 300px;
  margin: 0;
}
.container-send {
  justify-content: flex-end;
}
.container-cart {
  background-color: rgba(135, 135, 135, 0.5);
  justify-content: center;
  border-radius: 0px;
  margin: 0;
}
.container-title-cart {
  margin-bottom: 10px;
}
.container-pay-cart {
  margin: 0;
}
.container-pay-input {
  justify-content: space-around;
  margin: 0;
}

.item {
  flex-basis: auto;
  border-radius: 5px;
  margin: 10px;
}
.item-1 {
  background-color: aliceblue;
  flex-direction: column;
}
.item-2 {
  background-color: rgb(46, 157, 255);
}
.item-upload {
  border-radius: 20px;
  text-align: center;
  margin: 70px;
  padding: 70px;
  padding-left: 140px;
  padding-right: 140px;
  border-style: dashed;
  border-color: white;
  border-width: 1.5px;
}
.item-video {
  margin-top: 25px;
  flex-grow: 1;
  max-width: 45%;
}
.item-text-1 {
  flex-grow: 1;
  flex-shrink: 1;
}
.item-title {
  background-color: rgba(114, 114, 114, 0.644);
  border-radius: 10px;
  padding-left: 10px;
}
.item-hashtag {
  background-color: rgba(114, 114, 114, 0.644);
  border-radius: 10px;
  padding-left: 10px;
  height: 80%;
}
.item-send {
  margin-right: 20px;
}
.item-other {
  background-color: rgba(114, 114, 114, 0.644);
  border-radius: 10px;
  padding-left: 10px;
  height: 80%;
  width: 30%;
}
.item-description {
  background-color: rgba(114, 114, 114, 0.644);
  flex-grow: 2;
  border-radius: 10px;
  padding-left: 10px;
  height: 80%;
}
.item-cart-name {
  flex-grow: 2;
}
.item-cart-img {
  margin: 0;
}
.item-input-cardNumber {
  padding: 10px;
  border-radius: 10px;
  padding-right: 120px;
}
.item-cart-input {
  margin-bottom: 30px;
}
.item-input {
  padding: 10px;
  padding-right: 120px;
  background-color: #6d6d6d;
}
img {
  height: 70px;
  width: 100px;
  margin: 20px;
}

#upload {
  font-size: 20px;
}

#clipImg {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

mat-radio-button {
  padding-right: 10px;
}
