<div class="userTopClip">
  <div fxLayout="row">
    <b id="cliptitle">User's top clip</b>
  </div>
  <span layout="row"><hr flex /> </span>
  <div fxLayout="row">
    <div fxLayout="column"><app-clip></app-clip></div>
    <div fxLayout="column">
      <section id="clipdesc">
        <p>Titolo del video che può essere abbastanza lungo</p>
        <p>352.000</p>
        <p>145.000</p>
        <p>15:31:19 - 15:31:30</p>
        <p>Uploaded in 25/07/2022</p>
      </section>
    </div>
  </div>
  <span layout="row"><hr flex /> </span>
</div>
