.userTopClip {
  background-color: #7272721f;
  padding: 25px;
}

#clipTitle {
  font-size: 20px;
}

#clipdesc p {
  font-size: 13px;
  margin: 0;
  padding-left: 20px;
}

#clipRow {
  padding: 10px;
}
