.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
.container-userTopClip {
  flex-flow: column wrap;
  background-color: #7272721f;
}
.container-clip-row {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  margin-bottom: 15px;
}

.item-title {
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}
.item-title b {
  font-size: 22px;
}
.item-arrow {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

.userTopClip {
  background-color: #7272721f;
  padding: 25px;
}

#clipTitle {
  font-size: 20px;
}

#clipdesc p {
  font-size: 13px;
  margin: 0;
  padding-left: 20px;
}

.firstRow {
  padding: 10px;
}

.clipRow {
  padding: 10px;
}

.rows {
  height: var(--rows-height);
  opacity: var(--rows-opacity);
}

mat-divider {
  border-top-color: #7c7c7c;
  margin-top: 10px;
  margin-bottom: 10px;
}
