* {
  color: white;
}

.cart {
  background-color: #cdcdcd;
  margin-top: 50px;
}

.shop {
  text-align: right;
  padding: 50px;
}

#takePart {
  font-size: 100px;
  padding: 50px;
  max-width: 55%;
}

#tshop {
  font-size: 50px;
}
