.table {
  display: table; /* Allow the centering to work */
  padding-left: 5px;
}

.column {
  float: left;
  padding: 0;
}

p {
  text-align: center;
  color: white;
  margin: 0;
}

img {
  padding-top: -20px;
}
