<div class="table">
  <div *ngFor="let region of CLIPS">
    {{ region.name }}
  </div>

  <div class="column">
    <div class="clip">
      <app-clip></app-clip>
    </div>
    <p>15:31:19 - 15:31:30</p>
  </div>
  <div class="column">
    <div class="clip">
      <app-clip></app-clip>
    </div>
    <p>15:31:19 - 15:31:30</p>
  </div>
  <div class="column">
    <div class="clip">
      <app-clip></app-clip>
    </div>
    <p>15:31:19 - 15:31:30</p>
  </div>
  <div class="column">
    <div class="clip">
      <app-clip></app-clip>
    </div>
    <p>15:31:19 - 15:31:30</p>
  </div>
  <div class="column">
    <div class="clip">
      <app-clip></app-clip>
    </div>
    <p>15:31:19 - 15:31:30</p>
  </div>
  <div class="column">
    <div class="clip">
      <app-clip></app-clip>
    </div>
    <p>15:31:19 - 15:31:30</p>
  </div>
</div>
