.box {
  background-color: #1b1b1b;
}

p {
  text-align: center;
  color: white;
  margin: 0;
}

table {
  display: table; /* Allow the centering to work */
  margin-left: auto;
  margin-right: auto;
}

.box {
  display: flex;
  justify-content: center;
}

.box > * {
  flex: 1 1 200px;
}

.arrowBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: rgba(250, 235, 215, 0);
  border: 0;
}

#clip {
  padding: 2px;
}
