#top-clips {
  float: center;
  padding: 20px;
  background-color: #000000;
}

#title {
  color: white;
  text-align: center;
}

.table {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
}

.column {
  float: left;
  padding: 40px;
}
