<div class="table">
  <tr *ngFor="let clip of Clips; let i = index">
    <td>{{ clip.name }}</td>
  </tr>

  <div class="column">
    <div class="clip">
      <app-clip></app-clip>
    </div>
    <p>15:31:19 - 15:31:30</p>
  </div>
  <div class="column">
    <div class="clip">
      <app-clip></app-clip>
    </div>
    <p>15:31:19 - 15:31:30</p>
  </div>
  <div class="column">
    <div class="clip">
      <app-clip></app-clip>
    </div>
    <p>15:31:19 - 15:31:30</p>
  </div>
  <div class="column">
    <div class="clip">
      <app-clip></app-clip>
    </div>
    <p>15:31:19 - 15:31:30</p>
  </div>
  <div class="column">
    <div class="clip">
      <app-clip></app-clip>
    </div>
    <p>15:31:19 - 15:31:30</p>
  </div>
  <div class="column">
    <div class="clip">
      <app-clip></app-clip>
    </div>
    <p>15:31:19 - 15:31:30</p>
  </div>
</div>
