html,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -8px;
  margin-bottom: -8px;
  margin-left: -4px;
  margin-right: -4px;
  background-color: #000000;
}

* {
  box-sizing: border-box;
}
