.tv {
  background-color: black;
}
.container {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container-video {
}

.item-video {
  width: 100%;
}

video {
  width: 100%;
  height: 100%;
}
