* {
  color: white;
}

.footer {
  background-color: black;
  padding: 30px;
}

#follow {
  text-align: right;
  font-size: 10px;
  color: white;
  padding: 10px;
  margin-top: 60px;
}

#logo {
  text-align: left;
  font-size: 10px;
  color: white;
}

#contact {
  margin-top: 50px;
}

p {
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.table {
  display: table; /* Allow the centering to work */
}

.column {
  max-width: 50%;
  float: left;
  padding: 0;
}

.rightColumn {
  max-width: 50%;
  float: right;
  padding: 0;
}
