<div class="clipUpload">
  <div class="container" fxFlex fxLayoutAlign="center center">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
      <div id="frame" fxFlex= fxLayoutAlign="center center">
        <div id="square" fxLayoutAlign="center center">
          <div fxLayout="column" fxLayoutAlign="center center">
            <img src="https://i.postimg.cc/VN5P5ndq/upload.png" />
            <p id="upload">Upload your clip!</p>
          </div>
        </div>
      </div>
      <div id="frame" fxFlex fxLayoutAlign="center center">
        <div id="square" fxLayoutAlign="center center">
          <div fxLayout="column" fxLayoutAlign="center center">
            <img src="https://i.postimg.cc/VN5P5ndq/upload.png" />
            <p id="upload">Upload your clip!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
