* {
  color: white;
}

.clipUpload {
  padding-top: 100px;
}

#square {
  padding: 100px;
  border-radius: 4px;
  width: 45%;
  border-style: dashed;
  border-width: 0.6px;
}
#frame {
  background-color: #7272721f;
  border-radius: 20px;
  padding: 80px;
}

img {
  width: 70px;
  height: 50px;
}

#upload {
  padding-top: 10px;
  margin: 0;
}
