* {
  color: white;
}

.container {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-grow: 2;
}
.container-1 {
  justify-content: center;
  flex-grow: 1;
}
.container-2 {
  justify-content: flex-end;
}
.item {
  border-radius: 5px;
  margin: 10px;
}
.item-like {
}
.item-eye {
  flex-grow: 1;
}
.item-button a {
  padding-right: 20px;
}

p {
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
}

.icon {
  transform: scale(3);
}
