<div class="container container-1">
  <div class="container container-title-text">
    <div class="item item-video"><app-video></app-video></div>
    <div class="item item-text-1">
      <div class="item item-title">
        <p>Title</p>
      </div>
      <div class="item item-hashtag">
        <p>Hashtag</p>
      </div>
    </div>
  </div>
  <div class="container container-time">
    <div class="item item-time">Time</div>
  </div>
  <div class="container container-other-text">
    <div class="item item-other">Altre cose</div>
    <div class="item item-description">Description</div>
  </div>
  <div class="container container-send">
    <div class="item item-send">
      <button mat-flat-button color="primary">Send</button>
    </div>
  </div>
</div>
<!---->
