<nav class="navbar">
  <!-- logo -->
  <div class="item item-brand">
    <a class="navbar-brand" href="#">
      <mat-icon>live_tv</mat-icon>
    </a>
    <a class="navbar-brand" href="#"> OneMillion.tv </a>
  </div>
  <div class="item item-space"></div>

  <!-- menu -->
  <div class="item item-buttons">
    <a class="button" routerLink="/cart"><mat-icon>search</mat-icon> </a>
    <a class="button" routerLink="/clips"><mat-icon>chat-bubble</mat-icon></a>
    <a class="button" routerLink="/login"
      ><mat-icon>account_circle</mat-icon></a
    >
  </div>
</nav>
