* {
  color: white;
}

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 70%;
}

.item-register {
  margin-top: 20px;
}

/* Full-width inputs */
input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #6b6b6b;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #6b6b6b;
}

/* Set a style for all buttons */
button {
  background-color: #d18b00;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Add padding to containers */
.container {
  padding: 110px;
}

.item-login {
  padding: 60px;
  background-color: rgba(114, 114, 114, 0.1);
  border-radius: 25px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.table {
  display: table; /* Allow the centering to work */
}

.column {
  float: center;
}

.register {
  text-align: center;
  color: white;
  float: center;
  padding: 10px;
}

#onemillion {
  padding-top: 20px;
  text-align: center;
  font-size: 55px;
  color: white;
}

h2 {
  font-size: medium;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(255, 255, 255);
  line-height: 0.1em;
  margin: 10px 0 20px;
}
h2 span {
  background-color: rgba(46, 46, 46, 1);
  padding: 0 10px;
}
