* {
  color: white;
}

.navbar {
  padding: 0;
  width: 100%;
}

.table {
  display: table; /* Allow the centering to work */
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.column {
  max-height: 30px;
  float: left;
  padding: 0;
}

.columnarrow {
  max-height: 30px;
  float: left;
  padding-right: 5px;
}

.columnviews {
  max-height: 30px;
  float: left;
  padding-left: 50px;

  padding-right: 5px;
}

#buttons {
  float: right;
  padding: 0;
}

p {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 8;
}

hr {
  margin-left: 30px;
  margin-right: 30px;
}
