<div class="container">
  <div class="container container-1">
    <div class="item item-like">
      <a routerLink="/cart"
        ><mat-icon class="icon upArrowIcon">arrow_drop_up</mat-icon>
      </a>
      <a routerLink="/cart"
        ><mat-icon class="icon downArrowIcon">arrow_drop_down</mat-icon>
      </a>
      140.000
    </div>
    <div class="item item-eye">
      <a routerLink="/cart"><mat-icon>remove_red_eye</mat-icon> </a>
      145.000
    </div>
  </div>
  <div class="container container-2">
    <div class="item item-button">
      <a routerLink="/cart"><mat-icon>share</mat-icon> </a>
      <a routerLink="/cart"><mat-icon>save</mat-icon> </a>
      <a routerLink="/cart"><mat-icon>bookmark</mat-icon> </a>
    </div>
  </div>
</div>
