<div class="navbar">
  <div class="table">
    <div class="column">
      <div class="likes">
        <div class="table">
          <div class="column">
            <p>SU</p>
          </div>
          <div class="column">
            <p>GIU</p>
          </div>
          <div class="column">
            <p>145.000</p>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="views">
        <div class="table">
          <div class="column">
            <p>eye</p>
          </div>
          <div class="column">
            <p>145.000</p>
          </div>
          <div class="table">
            <div class="column">
              <p>Share</p>
            </div>
            <div class="column">
              <p>Download</p>
            </div>
            <div class="column">
              <p>Save</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
