body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  color: white;
}

.navbar-brand {
  padding: 10px;
  text-align: left;
}

.navbar-menu {
  text-align: right;
}

.topnav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav b {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.table {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
}

.column {
  float: left;
}
